* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 600vh;
  overflow-x: hidden;
}
#webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: block;
  z-index: -1;
  object-fit: cover;
}
.scrollArea {
  height: 100vh;
  width: 100vw;
  background: transparent;
  pointer-events: none;
}
